.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 203px 343px 60px 525px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 243px;
    margin-left: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 133px;
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 43px;
    margin-left: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 68px;
  }
}